In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('IPM.csv')
data.head()

  Harapan_Lama_Sekolah,Pengeluaran_Perkapita,Rerata_Lama_Sekolah,Usia_Harapan_Hidup,IPM
0                         14.36,9572,9.37,69.96,High
1                        13.9,7148,9.48,65.28,Normal
2                       14.32,8776,8.68,67.43,Normal
3                         14.6,8180,8.88,64.4,Normal
4                       14.01,8030,9.67,68.22,Normal

In [ ]:
data_split = data["Harapan_Lama_Sekolah,Pengeluaran_Perkapita,Rerata_Lama_Sekolah,Usia_Harapan_Hidup,IPM"].str.split(',', n=4, expand=True)

In [ ]:
data["Harapan_Lama_Sekolah"] = data_split[0]
data["Pengeluaran_Perkapita"] = data_split[1]
data["Rerata_Lama_Sekolah"] = data_split[2]
data["Usia_Harapan_Hidup"] = data_split[3]
data["IPM"] = data_split[4]

In [ ]:
data.drop(columns=["Harapan_Lama_Sekolah,Pengeluaran_Perkapita,Rerata_Lama_Sekolah,Usia_Harapan_Hidup,IPM"], inplace=True)
data

,Harapan_Lama_Sekolah,Pengeluaran_Perkapita,Rerata_Lama_Sekolah,Usia_Harapan_Hidup,IPM
0,14.36,9572,9.37,69.96,High
1,13.9,7148,9.48,65.28,Normal
2,14.32,8776,8.68,67.43,Normal
3,14.6,8180,8.88,64.4,Normal
4,14.01,8030,9.67,68.22,Normal
...,...,...,...,...,...
2191,10.13,5522,4.91,65.32,Low
2192,7.11,5440,2.51,65.26,Low
2193,9.79,4761,2.99,64.83,Low
2194,14.99,14922,11.3,70.15,High
2195,12.91,11059,8.17,71.2,High

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2196 entries, 0 to 2195
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Harapan_Lama_Sekolah   2196 non-null   object
 1   Pengeluaran_Perkapita  2196 non-null   object
 2   Rerata_Lama_Sekolah    2196 non-null   object
 3   Usia_Harapan_Hidup     2196 non-null   object
 4   IPM                    2196 non-null   object
dtypes: object(5)
memory usage: 85.9+ KB

In [ ]:
data["Harapan_Lama_Sekolah"] = pd.to_numeric(data["Harapan_Lama_Sekolah"], downcast='float')
data["Pengeluaran_Perkapita"] = pd.to_numeric(data["Pengeluaran_Perkapita"], downcast='float')
data["Rerata_Lama_Sekolah"] = pd.to_numeric(data["Rerata_Lama_Sekolah"], downcast='float')
data["Usia_Harapan_Hidup"] = pd.to_numeric(data["Usia_Harapan_Hidup"], downcast='float')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2196 entries, 0 to 2195
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Harapan_Lama_Sekolah   2196 non-null   float32
 1   Pengeluaran_Perkapita  2196 non-null   float32
 2   Rerata_Lama_Sekolah    2196 non-null   float32
 3   Usia_Harapan_Hidup     2196 non-null   float32
 4   IPM                    2196 non-null   object
dtypes: float32(4), object(1)
memory usage: 51.6+ KB

In [ ]:
data = pd.get_dummies(data, columns = ['IPM'])

In [ ]:
data.sample(10)

,Harapan_Lama_Sekolah,Pengeluaran_Perkapita,Rerata_Lama_Sekolah,Usia_Harapan_Hidup,IPM_High,IPM_Low,IPM_Normal,IPM_Very-High
1566,12.43,8874.0,6.54,68.830002,0,0,1,0
1292,13.99,16157.0,11.10,74.889999,0,0,0,1
1622,13.95,10211.0,10.22,68.199997,1,0,0,0
2117,12.35,10076.0,6.85,63.250000,0,0,1,0
506,12.41,8151.0,8.58,64.930000,0,0,1,0
441,13.39,10116.0,8.35,70.440002,1,0,0,0
2004,12.21,10327.0,8.65,65.620003,0,0,1,0
962,13.34,10993.0,9.33,69.180000,1,0,0,0
1742,12.90,9833.0,7.82,70.260002,0,0,1,0
1814,13.43,17339.0,11.64,74.269997,0,0,0,1

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [ ]:
X = data.drop(['Usia_Harapan_Hidup'],axis = 1)
y = data['Usia_Harapan_Hidup']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)
X_train.shape, X_test.shape

((1647, 7), (549, 7))

In [ ]:
lab = preprocessing.LabelEncoder()
y_train_transformed = lab.fit_transform(y_train)

In [ ]:
classifier_rf = RandomForestClassifier(n_estimators=100, criterion="entropy")
classifier_rf.fit(X_train, y_train_transformed)

RandomForestClassifier(criterion='entropy')

In [ ]:
y_pred = classifier_rf.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
y_test_transformed = lab.fit_transform(y_test)

In [ ]:
cm = confusion_matrix(y_test_transformed, y_pred)

In [ ]:
print(cm)

[[1 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [ ]:
print('Training-set accuracy score:', classifier_rf.score(X_train, y_train_transformed))

Training-set accuracy score: 0.9993928354584092

In [ ]:
print('Test-set accuracy score:', classifier_rf.score(X_test, y_test_transformed))

Test-set accuracy score: 0.0018214936247723133